.single-product-container {
    display: flex;
    position: relative;
    padding: 5rem 0 5rem 0;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 3px 3px black;
    justify-content: space-around;
}

.single-product-image-container {

}

.single-product-description-container {
    align-content: center;
    width: 50%;
}

.single-product-image {
    width: 400px;
    height: 400px;
}

.single-product-description{
    font-size: 20px;
}

.single-product-price-container {
    width: 10rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.single-product-price {
    font-size: 24px;
    margin: 0 15px 0 0;
}

.single-product-button {
    height: 50px;
    width: 50%;
    font-size: medium;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    outline: 1px solid white;
    margin-right: 1rem;
    cursor: pointer;
}

.single-product-category {
    width: fit-content;
    font-style: italic;
    font-size: x-small;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    outline: 1px solid rgb(255, 255, 255);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    cursor: pointer;
}
